
/* header link */
#admin-courses-title {
  color: var(--action-color-4);
}

#courses {
  max-width: var(--max-width-1);
  padding: 40px;
  margin: 90px auto;
  border: 1px #000000 solid;
  background-color: white;
}


#courses-top {
  display: flex;
  margin-bottom: 25px;
}
#courses-title {
  margin-right: auto;
  font-family: var(--font-3);
  font-size: 35px;
}
#add-course-button p {
  padding: 10px 20px;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  font-family: var(--font-2);
  color: white;
  border: 1px solid var(--sec-color-3);
  background-color: var(--sec-color-3);
  transition: all 0.2s;
}
#add-course-button p:hover {
  background-color: #000000;
  border-color: #000000;
}


table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  background-color: var(--sec-color-2);
}
th {
  padding: 0 15px;
}
th h4 {
  padding: 5px 0;
  text-align: left;
}
td {
  padding: 10px 15px;
}
td p {
  font-size: 17px;
}
tr {
  border: 1px #000000 solid;
}

#remove-button {
  padding: 7px 14px;
  width: 90px;
  font-weight: 500;
  font-size: 15px;
  font-family: var(--font-2);
  color: white;
  border: 1px solid var(--action-color-3);
  background-color: var(--action-color-3);
  transition: all 0.2s;
  cursor: pointer;
}
#remove-button:hover {
  background-color: #000000;
  border-color: #000000;
}
#edit-button p {
  padding: 7px 19px;
  width: 50px;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  font-family: var(--font-2);
  color: white;
  background-color: var(--action-color-4);
  border: 1px var(--action-color-4) solid;
  cursor: pointer;
  transition: all 0.2s;
}
#edit-button p:hover {
  border-color: #000000;
  background-color: #000000;
}
