
/* header link */
#admin-payments-title {
  color: var(--action-color-4);
}

#payments {
  max-width: var(--max-width-1);
  padding: 40px;
  margin: 90px auto;
  border: 1px #000000 solid;
  background-color: white;
}


#payments-top {
  display: flex;
  margin-bottom: 25px;
}
#payments-title {
  margin-right: auto;
  font-family: var(--font-3);
  font-size: 35px;
}


table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  background-color: var(--sec-color-2);
}
th {
  padding: 0 15px;
}
th h4 {
  text-align: left;
  padding: 5px 0;
}
td {
  padding: 10px 15px;
}
td p {
  font-size: 17px;
}
tr {
  border: 1px #000000 solid;
}


.status {
  width: fit-content;
  padding: 5px 10px;
  border: 1px #000000 solid;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.rejected {
  color: white;
  font-weight: normal;
  background-color: var(--action-color-3);
}
.pending {
  background-color: lightblue;
}              
.approved {
  background-color: lightgreen;
}


dialog {
  width: 700px;
  padding: 25px;
  border-radius: 10px;
}
dialog h3 {
  margin-bottom: 10px;
}
dialog p {
  margin-bottom: 5px;
}

#dialog-container {
  display: flex;
  min-height: 400px;
}

#payment-user-info {
  margin-right: auto;
}

#person-img img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
#person-info {
  margin-right: auto;
  max-width: 300px;
}

#dialog-submission {
  position: fixed;
  bottom: 25px;
}

#operation-image {
  width: 320px;
  max-height: 460px;
  margin-bottom: -5px;
  border-radius: 10px;
}

#show-dialog {
  padding: 9px 18px;
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  font-family: var(--font-2);
  color: white;
  border: 1px solid var(--action-color-3);
  background-color: var(--action-color-3);
  transition: all 0.1s;
  cursor: pointer;
}
#show-dialog:hover {
  border-color: #000000;
  background-color: #000000;
}

#close-dialog,
#submit-dialog-reject,
#submit-dialog-approve {
  padding: 9px 18px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  font-family: var(--font-2);
  color: white;
  transition: all 0.1s;
  cursor: pointer;
}
#close-dialog {
  position: absolute;
  right: -2px;
  top: 3px;
  padding: 0 6px 2px 7px;
  font-size: 20px;
  color: black;
  border: 0;
  border-radius: 50%;
  background-color: #FFFFFF;
  z-index: 1000
}
#close-dialog:hover {
  color: white;
  background-color: var(--color-palette-4);
}

#submit-dialog-reject {
  border: 1px var(--action-color-3) solid;
  background-color: var(--action-color-3);
}
#submit-dialog-approve {
  margin-right: 20px;
  color: black;
  border: 1px var(--sec-color-2) solid;
  background-color: var(--sec-color-2);
}
#submit-dialog-reject:hover,
#submit-dialog-approve:hover {
  border-color: #000000;
  background-color: #000000;
}
#submit-dialog-approve:hover {
  color: white;
}

#show-dialog {
  width: 90px;
  padding: 7px 14px;
  font-weight: 500;
  font-size: 15px;
  font-family: var(--font-2);
  background-color: var(--action-color-4);
  border: 1px var(--action-color-4) solid;
  color: white;
  transition: all 0.2s;
  cursor: pointer;
}
#show-dialog:hover {
  border-color: #000000;
  background-color: #000000;
}
