
main {
  margin-bottom: 0;
  margin-top: 0;
}

#transfer-number {
  position: relative;
  height: calc(100vh - 74px);
  height: 100vh;
  min-height: 500px;
}

#transfer-number-container {
  /* width: 600px; */
  padding: 50px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  border: 1px black solid;
}

#transfer-number-content {
  width: 450px;
  margin: auto;
}

h3 {
  font-size: 23px;
  margin-bottom: 20px;
}
h4 {
  margin-bottom: 5px;
}

input {
  width: 350px;
  padding: 8px 10px;
  font-size: 17px;
  border: 1px black solid;
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: all 0.2s ease;
}
input:focus {
  outline: none;
}
button {
  margin-left: -3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  
  padding: 8px 20px;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  font-family: var(--font-2);
  color: white;
  background-color: var(--action-color-4);
  border: 1px var(--action-color-4) solid;
  border: 1px black solid;
  border-left: 0;
  cursor: pointer;
  transition: all 0.2s;
}
button:hover {
  background-color: #000000;
}
button:focus {
  outline: none;
  background-color: #000000;

}