
main {
  padding: 40px;
}

#course-title {
  display: flex;
  max-width: var(--max-width-1);
  margin: auto;
  margin-bottom: 25px;
}
#course-title-description {
  width: 55%;
  margin-right: auto;
}
#course-title-description h1 {
  font-size: 40px;
  font-family: var(--font-3);
}
#course-title-description p {
  margin-top: 20px;
  font-family: var(--font-2);
  font-size: 20px;
}
#course-video embed, #course-video video {
  border: 1px solid black;
}
#course-video p {
  text-align: center;
  padding: 5px;
  font-weight: 500;
  font-family: var(--font-2);
}
#course-content{
  display: flex;
  width: var(--max-width-1);
  margin: auto;
  margin-bottom: 75px;
}
#course-content-details-info {
  width: 55%;
  margin-right: auto;
}
#course-content-details {
  border: 1px solid black;
  padding: 25px;
}
.details-heading {
  /* margin-bottom: 15px; */
  padding: 5px 0;
  font-size: 30px;
  font-family: var(--font-3);
}
.details-heading-two {
  margin-top: 15px;
}
.details p {
  padding: 3px;
  font-family: var(--font-2);
}
.course-levels {
  margin: 15px 0;
  border-radius: 0;
}
.level-title {
  display: flex;
}
.level-title p {
  font-size: 20px;
  font-weight: 600;
}
.level-title p span {
  font-weight: 200;
  font-size: 18px;
}

#course-instructor {
  border: 1px solid black;
  margin-top: 25px;
  padding: 25px;
}
#course-instructor h2 {
  font-size: 30px;
  font-family: var(--font-3);
}
#instructor-info {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
#instructor-img img {
  width: 80px;
  height: 80px;
  margin: 5px;
  margin-right: 20px;
  border-radius: 50%;
}
#instructor-name-title h3 {
  font-family: var(--font-2);
  font-size: 25px;
  padding: 5px;
}
#instructor-name-title p {
  font-family: var(--font-2);
  font-size: 20px;
  padding: 5px;
}
#course-payment {
  padding: 25px;
  border: 1px solid black;
  width: 370px;
}
#course-payment h1 {
  padding: 5px 0;
  font-size: 40px;
  font-family: var(--font-3);
}
#price {
  font-family: 'Times New Roman', Times, serif;
}
#add-to-cart button {
  padding: 20px 20px;
  margin: 20px 0px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  font-family: var(--font-2);
  color: white;
  border: 1px solid var(--action-color-4);
  background-color: var(--action-color-4);
  cursor: pointer;
  transition: all 0.2s;
}
#add-to-cart button:hover {
  background-color: #000000;
  border-color: #000000;
  transform: translateY(-7px) translateX(7px);
  box-shadow: -7px 7px var(--shadow-color-dark);
}
#buy-now button {
  padding: 20px 20px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  font-family: var(--font-2);
  color: black;
  border: 1px solid var(--sec-color-1);
  background-color: var(--sec-color-1);
  cursor: pointer;
  transition: all 0.2s;
}
#buy-now button:hover {
  border-color: #000000;
  transform: translateY(-7px) translateX(7px);
  box-shadow: -7px 7px var(--shadow-color-dark);
}