
main {
  margin-bottom: 0;
}

#login, #signup {
  position: relative;
  height: calc(100vh - 74px);
}
#login-container, #signup-container {
  width: 360px;
  padding: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  border: 1px black solid;
}
#login-title h1, #signup-title h1 {
  margin-bottom: 25px;
  font-family: var(--font-3);
  font-size: 27px;
}
.input-field {
  align-items: center;
  margin: 15px 0;
}
.input-field input {
  width: 338px;
  padding: 15px 10px;
  border: 1px black solid;
  font-size: 15px;
  font-weight: 500;
}
.input-field input:focus {
  outline: none;
}
#btn-field {
  padding-top: 10px;
}
#btn-field button {
  width: 100%;
  margin-top: 5px;
  padding: 10px 0px;
  border: none;
  background-color: var(--action-color-4);
  border: 1px var(--action-color-4) solid;
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}
#btn-field button:hover {
  border-color: black;
  background-color: black;
  /* transform: translateY(-5px) translateX(5px);
  box-shadow: -5px 5px var(--shadow-color-dark); */
}
#signup-link, #login-link {
  padding-top: 5px;
}
#signup-link p, #login-link p {
  margin-top: 10px;
  font-size: 16px;
}
#signup-link p a, #login-link p a {
  color: blue;
}