

#lost-password-contianer {
  width: 400px;
  border-radius: 10px;
}
#lost-password-contianer h2 {
  margin-bottom: 5px;
  font-family: var(--font-3);
}

#close-dialog {
  position: absolute;
  right: -2px;
  top: 3px;
  padding: 0 6px 2px 7px;
  font-size: 20px;
  color: black;
  border: 0;
  border-radius: 50%;
  background-color: #FFFFFF;
}
#close-dialog:hover {
  color: white;
  background-color: var(--color-palette-4);
}
#close-dialog:focus {
  outline: none;
}

#lost-password-email {
  width: 289px;
  margin: 0;
  margin-right: -5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 10px;
  border: 1px solid black;
  font-size: 17px;
}
#lost-password-email:focus {
  outline: none;
}

#submit-dialog-send-password {
  font-size: 17px;
  font-weight: 500;
  padding: 10px 25px;
  color: #FFFFFF;
  background-color: var(--action-color-4);
  border: 1px solid black;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  transition: all 0.2s ease;
}
#submit-dialog-send-password:hover {
  background: black;
}
