
/* for profile link focus */
#profile-change-img a p {
  background-color: var(--color-palette-2);
  border-top: 1px #000000 solid;
  border-bottom: 1px #000000 solid;
  color: #EAEAEA;
}

.input-field input[type="file"] {
  cursor: pointer;
}
#image-preview {
  width: 460px;
  padding: 20px;
  min-height: 200px;
  border: 1px #000000 solid;
}
#image-preview img {
  width: 200px;
  height: 200px;
  margin: auto;
  border: 1px #000000 solid;
  border-radius: 5px;
}