
main {
  height: 100vh;
  margin: 0;
}

#page-not-found {
  max-width: var(--max-width-1);
  margin: auto;
  padding: 40px;
  padding-top: 100px;
}
#msg {
  font-weight: 500;
}
#go-back {
  margin-top: 40px;
  padding: 10px 17px;
  border: 1px #000000 solid;
  border-radius: 4px;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}
#go-back:hover {
  background-color: var(--color-palette-2);
  color: #000000;
  transform: translateX(4px) translateY(-4px);
  box-shadow: -4px 4px #000000;
}