
#instructors {
  width: var(--max-width-1);
  margin: auto;
  padding: 40px;
  align-items: center;
  justify-content: space-between;
}
#instructors-title {
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 60px;
}
#instructors-title h1 {
  font-family: var(--font-3);
}
.instructors-container {
  display: flex;
  margin-bottom: 40px;
}
.instructor-box {
  width: 300px;
  margin: auto;
  padding: 10px 15px;
  border: 1px black solid;
  cursor: pointer;
  transition: all 0.2s ease;
}
.instructor-box:hover {
  background-color: #FFFFFF;
  transform: translateY(-7px);
  box-shadow: 0px 7px var(--shadow-color-night);
}
.instructor-box:hover .instructor-img img {
  transform: scale(90%);
}
.instructor-info-container {
  display: flex;
}
.instructor-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px black solid;
  transition: all 0.3s ease;
}
.instructor-info {
  padding: 10px 20px;
}
.instructor-info h2 {
  font-size: 22px;
}
.instructor-bio {
  margin-top: 5px;
  font-size: 15px;
}
.instructor-price {
  margin-top: 10px;
}