
#instructor {
  width: calc(var(--max-width-1) - 100px);
  margin: 75px auto;
  padding: 40px;
  align-items: center;
  justify-content: space-between;
}
#instructor-info {
  display: flex;
  margin-bottom: 40px;
}

#instructor-left {
  width: 60%;
  margin-right: auto;
}
#instructor-top {
  margin-bottom: 25px;
}
#instructor-top h1 {
  font-size: 35px;
  font-family: var(--font-3);
}
p {
  font-size: 18px;
}
#instructor-top p {
  font-size: 20px;
}


#instructor-right {
  width: 25%;
  align-items: center;
  text-align: center;
}
#instructor-img img {
  width: 200px;
  height: 200px;
  border: 1px #000000 solid;
  border-radius: 50%;
}
#instructor-contacts {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
#instructor-contacts div {
  margin: 0 5px;
}
#instructor-contacts div a img {
  width: 30px;
  height: 30px;
  padding: 10px;
  border: 1px #000000 solid;
  border-radius: 50%;
  transition: all 0.2s ease;
}
#instructor-contacts div {
  transition: all 0.2s ease;
}
#instructor-contacts div:hover {
  transform: scale(90%);
}

#courses {
  margin-bottom: 50px;
}
#courses-title {
  margin-bottom: 20px;
}
.courses-container {
  display: flex;
  margin: 15px 0;
}
.instructor-course {
  width: 290px;
  margin: auto;
  padding: 15px;
  border: 1px #000000 solid;
  transition: all 0.2s ease;
}
.instructor-course:hover {
  transform: translateY(-7px);
  box-shadow: 0 7px #000000;
}