#verify {
  width: 320px;
  border-radius: 10px;
}
#vf-code {
  padding: 10px;
  border: 1px solid black;
  font-size: 17px;
}
#vf-code:focus {
  outline: none;
}
#close-dialog {
  position: absolute;
  right: -2px;
  top: 3px;
  padding: 0 6px 2px 7px;
  font-size: 20px;
  color: black;
  border: 0;
  border-radius: 50%;
  background-color: #FFFFFF;
}
#close-dialog:hover {
  color: white;
  background-color: var(--color-palette-4);
}
#close-dialog:focus {
  outline: none;
}
.dialog-input {
  margin-bottom: 20px;
}
.dialog-input input {
  width: 215px;
  margin-right: -5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#submit-dialog-verify {
  font-size: 17px;
  font-weight: 500;
  padding: 10px 20px;
  color: #FFFFFF;
  background-color: var(--action-color-4);
  border: 1px solid black;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: pointer;
  transition: all 0.2s ease;
}
#submit-dialog-resend {
  font-size: 17px;
  font-weight: 500;
  padding: 10px;
  background-color: lightblue;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.2s ease;
}
#submit-dialog-verify:hover,
#submit-dialog-resend:hover {
  background: black;
}
#submit-dialog-resend:hover {
  color: #FFFFFF;
}