
/* -------------------------- */
/* # Footer */
/* -------------------------- */
footer {
  background-color: var(--shadow-color-night);
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#footer-container {
  padding: 15px 40px;
  margin-left: auto;
  margin-right: auto;
}
#footer-platform-logo-get-started {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
#footer-platform-logo {
  margin-right: auto;
}
#footer-platform-logo a p {
  font-family: var(--font-3);
  font-weight: 800;
  font-size: 35px;
  color: #FFFFFF;
}
#footer-get-started {
  padding: 6px 10px;
  border: 1px solid #FFFFFF;
  background-color: var(--main-color);
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s, transform 0.2s;
}
#footer-get-started a p {
  font-weight: 600;
  font-size: 20px;
  transition: color 0.2s;
}
#footer-get-started a p:hover {
  color: #000000;
}
#footer-get-started:hover {
  background-color: #FFFFFF;
  transform: translateY(-5px) translateX(5px);
  box-shadow: -5px 5px var(--shadow-color-light);
}
#footer-links-container {
  display: flex;
}
.footer-links {
  margin: 15px auto 15px 0px;
}
.footer-link a p {
  margin: 20px 0px;
  padding: 2px 0;
  font-family: var(--font-1);
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
.footer-link a p:hover {
  color: var(--sec-color-1);
}
#footer-copyright p, #footer-copyright p span {
  font-weight: 300;
  font-size: 13px;
  color: #FFFFFF;
}
#footer-copyright p {
  padding: 10px 0;
}